* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #080808;
}

.nav-container {
  width: 1110px;
  height: 70px;
  margin-left: 85px;
  background-color: #1b1b1b;
  display: flex;
  justify-content: center;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.nav-list {
  display: flex;
  justify-content: center;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 20px;
  gap: 70px;
  list-style: none;
}

.nav-list li a {
  list-style: none;
  color: white;
  font-size: 20px;
  gap: 70px;
  color: #9c9c9c;
  font-family: IBM Plex Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}

.social-media {
  width: 107.54px;
  height: 17px;
  top: 26px;
  left: 992px;
}

.social-media ul {
  display: flex;
  justify-content: center;
  gap: 25px;
}

.social-media li {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
  margin-top: 23px;
}

a {
  text-decoration: none;
}

li a:hover {
  color: whitesmoke;
}

.main-container {
  margin-top: 131px;
  margin-left: 180px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.intro {
  width: 492px;
  height: 154px;
  gap: 10px;
  margin-right: 32px;
}

.intro h1 {
  color: #ffffff;
  font-weight: 800;
  font-style: extrabold;
  font-size: 44px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: bottom;
}

.intro p {
  color: #9c9c9c;
  font-family: IBM Plex Mono;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 1%;
  margin-top: 10px;
}
button {
  width: 307.89px;
  height: 63px;
  border-radius: 4px;
  border: 1px;
  background-color: #3f8e00;
  box-shadow: 0px 8px 30px 0px #3f8e0080;
  color: #ffffff;
  font-family: IBM Plex Mono;
  font-size: 16px;
  font-weight: 700;
  size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: bottom;
  margin-top: 30px;
}

button:hover {
  background-color: #ffffff;
  color: #3f8e00;
  cursor: pointer;
}

button:active {
  background-color: #ffffff;
  color: black;
  cursor: pointer;
}

.image {
  width: 350px;
  height: 350px;
  top: 150px;
  left: 750px;
}

.image img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.recent-work {
  font-family: "IBM Plex Mono";
  font-weight: 400;
  font-size: 14px;
  font-style: regular;
  line-height: 100%;
  letter-spacing: 0%;
  color: #ffffff;
}

.container-two {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  margin-top: 109px;
}

.container-two p {
  color: #ffffff;
  display: flex;
  justify-content: center;
  font-family: IBM Plex Mono;
  font-weight: 400;
  font-style: regular;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
}

.box1,
.box2,
.box3,
.box4,
.box5 {
  width: 160px;
  height: 60px;
  border-radius: 6px;
  border: 1px;
  border-color: #1b1b1b;
  border-style: solid;
  font-family: "IBM Plex Mono";
  margin-top: 30px;
}

.box1 img {
  width: 82.32px;
  height: 20px;
  margin-top: 19.99px;
  margin-left: 39px;
  opacity: 30%;
}

.box2 img {
  width: 82.32px;
  height: 20px;
  margin-top: 19.99px;
  margin-left: 39px;
  opacity: 30%;
}

.box3 img {
  width: 82.32px;
  height: 20px;
  margin-top: 19.99px;
  margin-left: 39px;
  opacity: 30%;
}

.box4 img {
  width: 82.32px;
  height: 20px;
  margin-top: 19.99px;
  margin-left: 39px;
  opacity: 30%;
}

.box5 img {
  width: 82.32px;
  height: 20px;
  margin-top: 19.99px;
  margin-left: 39px;
  opacity: 30%;
}

@media (max-width: 700px) {
  .nav-container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
    height: auto;
    padding: 1rem 0;
  }

  .nav-list {
    flex-direction: column;
    gap: 15px;
    margin: 0;
    margin-top: 10px;
  }

  .social-media {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }

  .main-container {
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column-reverse; /* Image on top or bottom */
    align-items: center;
    gap: 2rem;
  }

  .intro {
    width: 90%;
    text-align: center;
    height: auto;
    margin-right: 0;
  }

  .intro h1 {
    font-size: 32px;
  }

  .intro p {
    font-size: 14px;
  }

  button {
    width: 80%;
    max-width: 300px;
  }

  .image {
    width: 200px;
    height: 200px;
    top: 0;
    left: 0;
  }

  .image img {
    width: 100%;
    height: 100%;
  }

  .container-two {
    flex-direction: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 60px;
  }

  .box1,
  .box2,
  .box3,
  .box4,
  .box5 {
    width: 70%;
    max-width: 200px;
    height: 60px;
    margin-top: 20px;
  }

  .box1 img,
  .box2 img,
  .box3 img,
  .box4 img,
  .box5 img {
    width: 60%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
  }
}
